<html lang="en">
<head>
    <title>EVE-Taboo - You're the gamemaster</title>

    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="../HTML/CSS/stylesheet.css">

</head>
<body>
  <div id="container">
    <div class="center" id="banner">
      <h1>- Stranger Danger - </br>
        EVE-Taboo</h1>
    </div>

    <div id="grid">

      <%- include('chat.ejs') %>
          <div class="center">
            <p>Your name: <%= user.name %></p>
          </div>

          <div class="center" id="playerSelection">
            <select id="playerSelectField" size="5">
              <option>A name</option>
              <option>Another namefield</option>
            </select>
            <button>Select</button>
          </div>
          <div class="center" id="wordSelection">
            <table>
              <tr id="wordDisplay">
                <td>
                  <p id="word">The word</p>
                  <ul>
                    <li>A restriction</li>
                  </ul>
                </td>
              </tr>
              <tr ="wordBttns">
                <td>
                  <button>New Word</button>
                  <button>Send Word</button>
                  <p id="selectedPlayer">Selected Player:</p>
                </td>
              </tr>
            </table>
          </div>
          <div class="center" id="wordStatus">
            <button>Word explained</button>
            <button>Word failed</button>
            <p>Player timer: </p>
          </div>
<!--End of the grid, the next div closes it -->
      </div>
    </div>
  </div>
</body>
</html>
