<!DOCTYPE html>
<html lang="en">
<head>

    <title>EVE-Taboo</title>
    <!-- MIME-Type -->
    <meta charset="utf-8">

    <!-- JavaScript -->
    <script language="javascript" type="text/javascript" charset="utf-8" src="../HTML/JS/homepage.js"></script>
    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="../HTML/CSS/stylesheet.css">

</head>
<body>
  <div class="center" id="banner">
    <h1>- Stranger Danger - </br>
      EVE-Taboo</h1>
  </div>
  <div class="center" id="welcome"><p id="explanation">Welcome to our little game of EVE-Taboo. Taboo is a word guessing game. </br>
    The objective is for a player to have the other players guess the word, which they're trying to describe. </br>
    The words you'll have to describe in our variant mainly revolve around EVE Online. </br>
    If you create a new game session you'll automatically be the game master and be the one who gets to decide who will be next.
  </p></div>

  <form id="form" method="POST" action="/gamemaster">
    <div class="center" id="playerName">
      <label>Set your name</label>
      <input id="namefield" name="name" type="text" placeholder="Enter your name here"></input>
      <span id="errorMsg"></span>
      <input id="newGameInput" type="submit" value="Create a new game"></input>
    </div>
  </form>

    <form id="playerform" method="post" action="/player">
      <div class="center" id="divJoinGame">
        <input id="sessionfield" name="sessionfield" type="text" placeholder="Enter game id"></input>
        <span id="errorMsgID"></span>
        <input id="joinGameInput" type="submit" value="Join an existing game session"></input>
      </div>
    </form>

</body>
</html>
